body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Black background */
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.1) 10%, transparent 10%),
                      radial-gradient(circle, rgba(255, 255, 255, 0.1) 15%, transparent 15%);
    background-size: 30px 30px, 50px 50px;
    background-position: 0 0, 25px 25px;
    color: #fff; /* Ensure text is visible on the black background */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

h1, .updated-date {
    color: #fff; /* Ensure heading and date are white */
}
    
#values-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    width: 90%;
    max-width: 600px;
}

.value-item {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}

.value-item:last-child {
    border-bottom: none;
}

.value-key {
    font-weight: bold;
}
#knifes-button {
    background-color: #ff0000;
    color: white;
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
